<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <%unless @comment.blank?%>
    <%= f.hidden_field :parent_id, value: @comment.id %>
  <%else%>
    <%= f.hidden_field :parent_id %>
  <%end%>
  <p>
    <%= f.submit %>
  </p>
<% end %>